<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="gpsplus.rtkgps"
    android:versionCode="26"
    android:versionName="1.0 Alpha 26" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />


	<!--允许程序打开网络套接字-->
	<uses-permission android:name="android.permission.INTERNET" />
	<!--允许写入扩展存储，用于数据缓存，若无此权限则写到私有目录-->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<!--允许写设备缓存，用于问题排查-->
	<uses-permission android:name="android.permission.WRITE_SETTINGS"
		tools:ignore="ProtectedPermissions" />
	<!--允许读设备等信息，用于问题排查-->
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<!--允许获取设备和运营商信息，用于问题排查和网络定位，若无gps但仍需实现定位小蓝点功能则此权限必选-->
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<!--允许程序获取网络状态-->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<!--允许程序访问WiFi网络信息-->
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<!--允许获取wifi状态改变，用于网络定位，若无gps但仍需实现定位小蓝点功能则此权限必选-->
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<!--允许程序访问GPS的位置-->
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<!--允许程序在手机屏幕关闭后后台进程仍然运行 -->
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<!--允许程序连接配对过的蓝牙设备 -->
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<!--允许程序使用USB权限 -->
    <uses-permission android:name="android.permission.USB_PERMISSION" />
	<!--声明后台定位权限-->
	<uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    
    <!-- osmdroid -->

	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-feature android:name="android.hardware.bluetooth" android:required="false" />
	<uses-feature android:name="android.hardware.usb.host" android:required="false" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>



    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:installLocation="auto"
        android:label="@string/app_name"
        android:name="RtkGps"
        android:theme="@style/AppTheme" >


        <activity
            android:name="gpsplus.rtkgps.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.ActionBarOverlay"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
			<intent-filter>
			    <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
			</intent-filter>
			<meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                      android:resource="@xml/usb_device_filter" />
        </activity>

		<activity android:name=".settings.SettingsActivity"
			android:parentActivityName="gpsplus.rtkgps.MainActivity" >
		</activity>

        <activity
            android:name=".settings.StreamSettingsActivity"
            android:label="@string/title_activity_input_stream_settings"
            android:parentActivityName="gpsplus.rtkgps.MainActivity" >
        </activity>
        
        <activity
            android:name=".settings.StreamDialogActivity"
            android:theme="@android:style/Theme.Holo.Dialog.MinWidth" />
        
        <activity
            android:name=".settings.StartupShutdownSettingsActivity"
            android:theme="@android:style/Theme.Holo.Dialog"  />
        
		<activity
            android:name=".settings.StationPositionActivity"
            android:theme="@android:style/Theme.Holo.Dialog" />
        <activity
            android:name="gpsplus.rtkgps.ToolsActivity"
            android:theme="@android:style/Theme.Holo.Dialog"
            />
        		
		<activity android:name="gpsplus.rtkgps.AboutActivity"
		    android:label="@string/about_activity_label"
		     />
        
		<service 
            android:name=".RtkNaviService"
            android:exported="false" >
			<intent-filter>
			    <action android:name="gpsplus.rtkgps.RtkNaviService.START" />
                <action android:name="gpsplus.rtkgps.RtkNaviService.STOP" />
			</intent-filter>	
		</service>
		
		<meta-data
		    android:name="BING_KEY"
		    android:value=" Anw2XC78AChKH-ji_aSpKg0hdF1XzkOnBCCOSwOwVnrVr8elrdvfNupIfeB_aKbb " />
		    
		<meta-data
		    android:name="com.google.android.gms.version"
		    android:value="@integer/google_play_services_version" />

		<!-- 高德地图KEY -->
		<meta-data
			android:name="com.amap.api.v2.apikey"
			android:value="82ad3ac66453ca2d3ce8f72d33a364c6" />

    </application>

</manifest>
